.clients {
    background-color: $background-primary;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        .works {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9.7rem;
            padding: 5rem 0;
        }
        .subscribe {
            display: flex;
            justify-content: center;
            background: $gradient;
            padding: 3rem 5rem;
            align-items: center;
            gap: 24rem;
            margin: 2rem 0;

            .title {
                width: 100%;
                max-width: 25.8rem;
                color: white;
            }

            .input {
                position: relative;
                width: 100%;

                input {
                    width: 100%;
                    max-width: 45rem;
                    height: 5.8rem;
                    outline: none;
                    border: none;
                    padding: 1.5rem 2rem;
                    border-radius: 0.5rem;
                }
                button {
                    position: absolute;
                    right: 0;
                    height: 5.8rem;
                    padding: 1.5rem 2.3rem;
                    border-radius: 0rem 0.5rem 0.5rem 0rem;
                    border: 0.1rem solid #e6e6e6;
                    background: var(--primary-color, #23a6f0);
                }
            }
        }
    }
}
