.gallery{
  background-color: var(--color-secondary);
  padding: 73.2px 10px;
  
  
}

.gallery .header{
  padding: 0 0 40px;
  text-align: center;
}

.gallery .header h1{
  font-size: 40px;
  font-weight: 400;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.gallery .container{
display: flex;
justify-content: center;
align-items: center;
   
}

.gallery .container .container-gallery img{
  width: 300px;
  height: 250px;
}

.gallery .container .container-gallery{
  max-width: 1000px !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  margin: 0 auto;
  gap: 10px;
}





/*Responsividade*/

@media (min-width: 400px) and (max-width: 800px){

  .gallery .container{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery .container .container-gallery{
    width: 76vw;
    height: 52.6vh;
    align-content: center;
  } 

  .gallery .container .container-gallery div {
    border: 5px solid var(--color-primary);
    margin: 6px;
  }
}