.home{
  background-image: url(../img/bg-home.jpg);
  background-size: cover;
  height: 100vh; /* area visível do meu navegador */
  position: relative;
  background-attachment: fixed;
}

.home .header{
  padding: 30px 0;
}


.home .header .navbar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .header .navbar .menu li{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 170px;
}

.navbar li, a{
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 20px;
  
}

a {
  animation: slowTransition 2s ease-in-out;
}

@keyframes slowTransition {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.menu li img, p, span {
  animation: slowTransition 3s ease-in-out;
}

@keyframes slowTransition {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  animation: slowTransition 4s ease-in-out;
}

@keyframes slowTransition {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.menu li a:hover{
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto 0;
}

.banner :nth-child(1){
  color: var(--color-primary);
  letter-spacing: 5px;
  text-transform: uppercase
}

.banner h1{
  color: white;
  font-size: 130px;
  margin-top: 10px;
}

.banner :nth-child(3){
  color: white;
  margin-top: 20px;
}

.banner img{
  margin-top: 20px;
}

/*Responsividade*/

@media (max-width: 768px){
  .home{
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -850px; 
  }

  .navbar{
    display: none;
}

  .banner :nth-child(1){
    padding: 10px;
  }

  .banner :nth-child(2){
    font-size: 110px;
    
  }
}

@media (min-width: 769px) and (max-width: 1256px){
  .navbar{
    display: none;
  }

  .home{
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -465px;
  }
}