.scheduling{
  height: 100vh;
  background-color: var(--color-primary);
  padding: 0 140px;
  background-image: url(../img/chair-ic.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 320px;
}

.scheduling ::before{
  background-image: url(../img/chair-ic.png);
}

.scheduling .header{
  padding: 100px;
  text-align: center;
}

.scheduling .header h1{
  color: white;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}

.scheduling .container{
  margin-bottom: 40px;
  width: 100%;
}

.scheduling .container form{
  display: flex;
  justify-content: center;  
  align-items: center;
}

.scheduling .container .input-box{
  display: flex;
  color: white;
  position: relative;
  width: 100%;
  margin: 0 20px 0  ;
}

.scheduling .container .input-box label{
  position: absolute;
  margin-top: -18px;
  font-size: 12px;
  font-weight: 100;
}

.scheduling .container .input-box input{
  height: 37px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 2px;
}

.scheduling .container .input-box select {
  height: 37px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 2px;
}

.scheduling .mensagem .input-mensagem{ 
  display: flex;
  justify-self: center;
  position: relative;
  color: white;
  margin: 0 20px;
}

.scheduling .mensagem .input-mensagem label{
  position: absolute;
  margin-top: -18px;
  font-size: 12px;
  font-weight: 100;
}

.scheduling .mensagem .input-mensagem textarea{
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  border-radius: 2px;
}

.scheduling button{
  outline: none;
  border: none;
  background-color: var(--color-button);
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  margin: 20px;
}

/*Responsividade*/

@media (max-width: 767px) {

  .scheduling{
    padding: 0 10px;
  }

  .scheduling .header{
    padding: 100px 60px 60px;
  }

  .scheduling .header h1{
    font-size: 30px;
  }

  .scheduling .container .input-box{
    margin: 0 5px 0 0;
  }

  .scheduling .container .input-box label {
    font-weight: normal;
    margin-top: -14px;
    font-size: 9px;
  }

  .scheduling .container .input-box input {
    height: 35px;
    padding: 0 0 0 5px;
    font-size: 11.3px;
    letter-spacing: -0.8px;
  }

  .scheduling .mensagem .input-mensagem{
  margin: 0 auto;
  font-weight: normal;
    margin-top: -14px;
    font-size: 9px;
  }

  .scheduling .mensagem .input-mensagem label{
  font-weight: normal;
  margin-top: -17px;
  font-size: 11px;
  }

  .scheduling button{
    margin: 20px 0;
    border-radius: 3px;
  }

  .scheduling .container .input-box select {
    height: 35px;
    padding: 0 5px;
    color: #8f8f8f;
    background-color: white;
  }
}

