.services{
  padding: 100px;
  background-color: var(--color-secondary);  
}

.services .header{
  text-align: center;
  padding-bottom: 50px;
}

.services .header h1{
  font-size: 40px;
  font-weight: 400;
  color: var(--color-primary);
  
}

.services .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.services .container .box{
  text-align: center;
  padding: 50px 40px;
  margin: 0 30px;
  border: 2px solid var(--color-primary);
}


.services .container .box h3{
  margin: 20px 0 0;
  color: var(--color-primary);
}

.services .container .box p{
  display: block;
  line-height: 35px;
  margin-top: 20px;
  font-size: 14px;
}

/*Responsividade*/

@media (max-width: 768px) {

  .services{
    padding: 50px 0;
  }

  .services .container{
    flex-direction: column;
    width: 100%;
  }

  .services .container .box{
    margin: 20px 40px;
  }
}