body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    
}

.container{
  
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    height: 500px;
    width: 500px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;     
   
}

.box{
    height: 300px;
    width: 300px;
    border-radius: 90px;
    border: 30px solid white;
    justify-content: center;
    align-items: center;
    display: flex; 
    
}

.big_circle{
    height: 160px;
    width: 160px;
    border-radius: 1000px;
    border: 20px solid white;
}

.small_circle{
    height: 40px;
    width: 40px;
    border-radius: 1000px;
    background-color: white;
    position: absolute;
    margin-top: -210px;
    margin-left: 210px;
}
