@mixin list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

@mixin btn-home {
    display: flex;
    padding: 1.5rem 3.6rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 3.7rem;
}

@mixin btn-primary {
    display: flex;
    padding: 1.5rem 4rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    background: var(--primary-color, #23a6f0);
}
