.navbar {
    grid-template-areas: 'logo menu menu';
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 40px;
    position: relative;
    margin: 0 auto;
    backdrop-filter: blur(55px);
    -webkit-backdrop-filter: blur(5px);

    .logo {
        display: block;
    }

    .menu {
        grid-area: menu;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        li {
            padding: 0 25px;
            list-style: none;
        }

        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: $color-primary;
            }
        }

        .get {
            background-color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 30px;
            border-radius: 30px;
            font-weight: 600;
            transition: all 0.2ms ease;

            a {
                color: white;
                text-decoration: none;
            }

            &:active {
                transform: scale(1.04);
                color: white !important;
            }
        }
    }
}

@media (max-width: 2000px) {
    .dropdown {
        display: none;
    }
    #menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        grid-template-areas: 'logo logo';
        grid-template-columns: 300px;
        padding: 0;
        margin: 20px auto;
        align-items: center;

        .logo {
            grid-area: logo;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .menu {
            display: none;
        }
    }

    #menu {
        position: absolute;
        display: block;
        color: white;
        width: 30px;
        height: 30px;
        cursor: pointer;
        right: 10%;
        top: 55px;
        transition: transform 4000ms ;

        &:active{
          transform: rotate(180deg);   
          transition: transform 10ms;
          
        }

        
    }

    

    .dropdown {
        display: block;
        right: 40px;
        position: absolute;
        top: 80px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        width: 90px;
        height: 130px;
        border-radius: 10px;
        visibility: hidden;

        li {
            display: flex;
            list-style: none;
            margin-top: 5px;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: $color-primary;
            }
        }
        .get {
            background-color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 25px;
            border-radius: 30px;
            font-weight: 600;
            transition: all 0.2ms ease;

            a {
                color: white;
                text-decoration: none;
            }

            &:active {
                transform: scale(1.04);
                color: white !important;
            }
        }
    }

    #dropdown.active #list {
        display: block;
        visibility: visible;
    }
}
